.container{
  display: flex;
  justify-content: center;
  background-color: #F5EDED;
}
.source{
  font-size: 10px;
  font-family: "Montserrat", serif;
}
h1{
 font-size: 55px;
 font-family: "Montserrat", serif;
 letter-spacing: 3px;
}
h2{
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Montserrat", serif;
}
.description{
  font-size: 20px;
  font-family: "Montserrat", serif;
}
.btn{
  background-color: #A25772 ;
  display:inline-block;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Montserrat", serif;
  border: 1px solid transparent;
  text-align: center;
  padding: 10px;
  color: #FBF9F1;
}
button{
  background-color:#F5EDED;
  border: none;
  font-size: 18px;
  font-family: "Montserrat", serif;
  color: #2E97A7;
}